<!--<app-word>/</app-word>
<app-book>/</app-book>-->
<!--<app-user-form></app-user-form>-->
<!--<app-struct></app-struct>-->
<!--<app-words></app-words>-->
<!--<app-person name = "Qúy Đào" age = "24"></app-person>
<app-person name = "Tầng Tạ" age = "28"></app-person>-->
<!--<app-list-person></app-list-person>-->
<!--<app-parent></app-parent>-->
<!--<app-card>
    <p class="card-header">Tìm hiểu directive ngContent</p>
    <h1 class="card-body">Tìm hiểu directive ngContent</h1>
</app-card>-->

<!--<app-learn-pipe></app-learn-pipe>-->
<app-ip></app-ip>
